<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="8b8d2ade-6cf4-482b-8497-bc4ad96ff63d"
    Publisher="CN=peter"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="8b8d2ade-6cf4-482b-8497-bc4ad96ff63d" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ZipSpark</DisplayName>
    <PublisherDisplayName>peter</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="ZipSpark"
        Description="Fast archive extraction utility with macOS-style double-click extraction"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      
      <Extensions>
        <!-- File Type Associations -->
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="ziparchive">
            <uap:SupportedFileTypes>
              <uap:FileType>.zip</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>ZIP Archive</uap:DisplayName>
            <uap:Logo>Assets\Square44x44Logo.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
        
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="7zarchive">
            <uap:SupportedFileTypes>
              <uap:FileType>.7z</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>7-Zip Archive</uap:DisplayName>
            <uap:Logo>Assets\Square44x44Logo.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
        
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="rararchive">
            <uap:SupportedFileTypes>
              <uap:FileType>.rar</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>RAR Archive</uap:DisplayName>
            <uap:Logo>Assets\Square44x44Logo.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
        
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="tararchive">
            <uap:SupportedFileTypes>
              <uap:FileType>.tar</uap:FileType>
              <uap:FileType>.gz</uap:FileType>
              <uap:FileType>.tar.gz</uap:FileType>
              <uap:FileType>.tgz</uap:FileType>
              <uap:FileType>.tar.xz</uap:FileType>
              <uap:FileType>.txz</uap:FileType>
              <uap:FileType>.xz</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>TAR Archive</uap:DisplayName>
            <uap:Logo>Assets\Square44x44Logo.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>